@charset "utf-8";

/* CSS Document */

html, body{

height:100%;

width:100%;

}



body{

font-family:Georgia, "Times New Roman", Times, serif;

margin:0 auto;

background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */

background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */

background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */

background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */

background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */

background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* w3c */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */

}



.calculatorBase{

position: relative;

margin:0 auto;

background:#CCC;

margin-top:1.5em;

width:300px;

}



.displayArea{

float:right;

min-height:60px;

background:#3a4655;

width:100%;

position:relative;

top:2px;

margin:1px -1px;

border:1px solid black;

width:297px;

}



.displayArea span{

color:#FFF;

font-size:2em;

float:right;

position: relative;

  top: 15px;

  right: 20px;

}



.buttonsArea{

height:20%;

width:100%;

min-height:380px;

background:#404d5e;

text-align:center;

margin-top:10px;

display:block;

border:1px solid white;

}



.calc-button {

  background-color: #4CAF50;

  border: none;

  color: white;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 28px;

    margin: 4px 7px;

  cursor: pointer;

width:22.5%;

}



.btnEquals{

width:72%;

}


.long{

font-size:1.5em !important;

top: 20px !important;

}



.verylong{

font-size:1em !important;

top: 25px !important;

}